img {
  width: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  border: black 1px solid;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-weight: 200;
  padding: 5px 0 5px 0;
  gap: 5px;
  margin-top: 50px;
  background-color: rgb(22, 22, 22);
}

footer h2 {
  margin: 0;
  opacity: 0.8;
  display: none;
}

footer ul {
  padding: 0;
  display: flex;
  gap: 20px;
}

footer ul li {
  list-style: none;
  opacity: 0.45;
  font-size: 0.7rem;
  cursor: pointer;
}
/* 
footer ul li::after {
  content: "";
  height: 2px;
  width: 0;
  background-color: rgb(255, 119, 0);
  display: block;
  transition: 0.5s;
  margin: auto;
}

footer ul li:hover::after {
  width: 100%;
} */

.contact-details {
  display: flex;
  align-items: center;
  gap: 15px;
}

.img-cont {
  opacity: 0.45;
  display: flex;
  gap: 8px;
}

.email-cont,
.phone-cont {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.email-cont img,
.phone-cont img {
  opacity: 0.35;
}

.email-cont span,
.phone-cont span {
  font-size: 0.7rem;
  opacity: 0.45;
}

.copy-right {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.copy-right small {
  opacity: 0.45;
  font-size: 0.7rem;
}

.copy-right img {
  opacity: 0.35;
}

.img-border svg {
  height: 20px;
  width: 20px;
  color: wheat;
}

@media (max-width: 450px) {
  img {
    width: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    border: black 1px solid;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-weight: 200;
    padding: 5px 0 5px 0;
    gap: 5px;
    margin-top: 50px;
    background-color: rgb(22, 22, 22);
  }

  footer h2 {
    margin: 0;
    opacity: 0.8;
    display: none;
  }

  footer ul {
    padding: 0;
    display: flex;
    gap: 0px;
    justify-content: space-evenly;
    width: 100%;
  }

  footer ul li {
    list-style: none;
    opacity: 0.45;
    font-size: 0.7rem;
    cursor: pointer;
    /* display: none; */
  }

  .contact-details {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-direction: column;
  }

  .img-cont {
    opacity: 0.45;
    display: flex;
    gap: 8px;
  }

  .email-cont,
  .phone-cont {
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
  }

  .email-cont img,
  .phone-cont img {
    opacity: 0.35;
  }

  .email-cont span,
  .phone-cont span {
    font-size: 0.7rem;
    opacity: 0.45;
  }

  .copy-right {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
  }

  .copy-right small {
    opacity: 0.45;
    font-size: 0.7rem;
  }

  .copy-right img {
    opacity: 0.35;
  }

  .img-border svg {
    height: 20px;
    width: 20px;
    color: wheat;
  }
}
