header {
  display: flex;
  align-items: center;
  color: white;
  justify-content: space-between;
  padding: 20px 5%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  /* margin-bottom: -100px; */
  background-color: rgb(17, 16, 16);
}

.remove-bs {
  box-shadow: none;
}

header h1 {
  color: rgb(255, 119, 0);
  cursor: pointer;
  font-size: 2rem;
}

header ul {
  padding: 0;
  display: flex;
  align-items: center;
  gap: 25px;
}

header li {
  list-style: none;
  font-weight: 600;
  font-size: 1.1rem;
  cursor: pointer;
}

header li::after {
  content: "";
  height: 2px;
  width: 0;
  background-color: rgb(255, 119, 0);
  display: block;
  transition: 0.5s;
  margin: auto;
}

header li:hover::after {
  width: 100%;
}

header .hire-btn {
  background-color: rgb(255, 119, 0);
  color: white;
  border: none;
  font-weight: 300;
  font-size: 0.85rem;
  padding: 8px 25px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid rgb(255, 119, 0);
  font-weight: 600;
  transition: border 0.3s, background-color 0.3s;
}

header .hire-btn:hover {
  border: 1px solid white;
  background-color: transparent;
  transition: border 0.3s, background-color 0.3s;
}

header label {
  display: none;
}

.pop-btn {
  display: none;
}

@media (min-width: 451px) and (max-width: 950px) {
  header {
    padding: 30px 3%;
    position: relative;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  }

  header h1 {
    color: rgb(255, 119, 0);
    cursor: pointer;
    margin: 0;
    font-size: 2rem;
  }

  header ul {
    display: none;
  }

  header .hire-btn {
    display: none;
  }

  .pop-btn {
    display: flex;
    background-color: transparent;
    border: none;
  }

  header label {
    display: inline;
    /* display: none; */
  }

  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }

  :root {
    --bar-width: 35px;
    --bar-height: 4px;
    --hamburger-gap: 7px;
    --foreground: white;
    --background: white;
    --hamburger-margin: 8px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
  }

  .hamburger-menu {
    --x-width: calc(var(--hamburger-height) * 1.41421356237);

    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;

    top: var(--hamburger-margin);
    left: var(--hamburger-margin);

    cursor: pointer;
  }

  .hamburger-menu:has(input:checked) {
    --foreground: white;
    --background: #333;
  }

  .hamburger-menu:has(input:focus-visible)::before,
  .hamburger-menu:has(input:focus-visible)::after,
  .hamburger-menu input:focus-visible {
    border: 1px solid var(--background);
    box-shadow: 0 0 0 1px var(--foreground);
  }

  .hamburger-menu::before,
  .hamburger-menu::after,
  .hamburger-menu input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--foreground);
    border-radius: 9999px;
    transform-origin: left center;
    transition: opacity var(--animation-timing), width var(--animation-timing),
      rotate var(--animation-timing), translate var(--animation-timing),
      background-color var(--animation-timing);
  }

  .hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
  }

  .hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
  }

  .hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
  }

  .hamburger-menu input:checked {
    opacity: 0;
    width: 0;
  }

  .hamburger-menu:has(input:checked) + .sidebar {
    translate: 0;
  }
}

@media (max-width: 450px) {
  header {
    padding: 20px 3.2%;
    position: relative;
  }

  header h1 {
    color: rgb(255, 119, 0);
    cursor: pointer;
    font-size: 1.8rem;
    margin: 0;
  }

  header ul {
    display: none;
  }

  header .hire-btn {
    display: none;
  }

  header label {
    display: inline;
  }

  .pop-btn {
    display: flex;
    border: none;
    background-color: transparent;
  }

  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }

  body {
    margin: 0;
  }

  :root {
    --bar-width: 35px;
    --bar-height: 4px;
    --hamburger-gap: 7px;
    --foreground: white;
    --background: white;
    --hamburger-margin: 8px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
  }

  .hamburger-menu {
    --x-width: calc(var(--hamburger-height) * 1.41421356237);
    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    top: var(--hamburger-margin);
    left: var(--hamburger-margin);

    cursor: pointer;
  }

  .hamburger-menu:has(input:checked) {
    --foreground: white;
    --background: white;
  }

  .hamburger-menu:has(input:focus-visible)::before,
  .hamburger-menu:has(input:focus-visible)::after,
  .hamburger-menu input:focus-visible {
    border: 1px solid var(--background);
    box-shadow: 0 0 0 1px var(--foreground);
    color: white;
  }

  .hamburger-menu::before,
  .hamburger-menu::after,
  .hamburger-menu input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: white;
    border-radius: 9999px;
    transform-origin: left center;
    transition: opacity var(--animation-timing), width var(--animation-timing),
      rotate var(--animation-timing), translate var(--animation-timing),
      background-color var(--animation-timing);
  }

  .hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
  }

  .hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
  }

  .hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
  }

  .hamburger-menu input:checked {
    opacity: 0;
    width: 0;
  }

  .sidebar {
    transition: translate var(--animation-timing);
    translate: -100%;
    padding: 0.5rem 1rem;
    padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
    background-color: var(--foreground);
    color: var(--background);
    max-width: 10rem;
    min-height: 100vh;
  }

  .hamburger-menu:has(input:checked) + .sidebar {
    translate: 0;
  }
}
