.box-cont {
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 6%;
  position: relative;
  z-index: 0;
  align-items: center;
  /* margin-top: 0; */
}

.box:first-child {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.box .i {
  opacity: 0.5;
  font-size: 0.75rem;
}

.box .name {
  opacity: 0.65;
  margin: 0;
}

.box .profession {
  color: rgb(255, 119, 0);
  margin: 0;
}

.img-cont {
  display: flex;
  gap: 7px;
  align-items: center;
}

/* .img-cont .img-border {
  border: 1px solid rgba(117, 113, 113, 0.4);
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  border-radius: 50%;
} */

.img-cont .img-border img {
  background-color: white;
  width: 14px;
  border-radius: 10%;
  opacity: 0.7;
  cursor: pointer;
}

.box .box-options {
  display: flex;
  gap: 20px;
}

.box .box-options .hire-me {
  background-color: rgb(255, 119, 0);
  color: white;
  border: 1px solid rgb(255, 119, 0);
  font-weight: 300;
  font-size: 0.85rem;
  padding: 7px 20px;
  border-radius: 7px;
  cursor: pointer;
}

.box .box-options .download-cv {
  background-color: transparent;
  color: white;
  border: 1px solid gainsboro;
  font-weight: 300;
  font-size: 0.85rem;
  padding: 7px 20px;
  border-radius: 7px;
  cursor: pointer;
}

.review {
  display: flex;
  background-color: rgb(25, 25, 25);
  margin-top: 20px;
  justify-content: center;
  border-radius: 5px;
  padding: 10px;
}

.review .type {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.review .type:first-child {
  padding-right: 18px;
}

.review .type:nth-child(2) {
  border-left: 1px solid gainsboro;
  border-right: 1px solid gainsboro;
  padding: 0 18px;
}

.review .type:last-child {
  padding-left: 18px;
}

.review .type h6 {
  margin: 0;
  color: rgb(255, 119, 0);
}

.review .type span {
  font-size: 0.75rem;
  font-weight: 400;
}

/*
*/

.box:last-child {
  display: flex;
  /* gap: 0px; */
  justify-content: space-between;
  flex-direction: row;
  width: 50%;
}

.technologies {
  display: flex;
  /* background-color: aqua; */
  justify-content: center;
  align-items: center;
  width: 100%;
}

.circle-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
  margin-top: 20px;
  gap: 0;
}

.circle-cont .small-circle {
  height: 60px;
  width: 60px;
  background-color: rgb(25, 25, 25);
  border-radius: 50%;
  position: relative;
}

svg {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 60px;
  height: 60px;
}

circle {
  fill: none;
  stroke: rgb(255, 119, 0);
  stroke-width: 4px;
  stroke-dasharray: 167;
  stroke-dashoffset: 167;
}

.html {
  animation: html 2s linear forwards;
}

@keyframes html {
  100% {
    stroke-dashoffset: 0;
  }
}

.css {
  animation: css 2s linear forwards;
}

@keyframes css {
  100% {
    stroke-dashoffset: 0;
  }
}

.javascript {
  animation: javascript 2s linear forwards;
}

@keyframes javascript {
  100% {
    stroke-dashoffset: 0;
  }
}

.react {
  animation: react 2s linear forwards;
}

@keyframes react {
  100% {
    stroke-dashoffset: 133;
  }
}

.circle-cont {
  gap: 7px;
}

.circle-cont .small-circle .outer {
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.circle-cont .small-circle .outer .inner {
  display: flex;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.15),
    inset -4px 4px 6px -1px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-cont .details {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4px;
  margin: 0;
}

.circle-cont .small-circle .outer .inner img {
  width: 25px;
  height: 25px;
  /* opacity: 0.5; */
  border-radius: 5px;
}

.circle-cont .small-circle p {
  margin: 0;
  padding: 0;
}

.circle-cont .small-circle span {
  margin: 0;
  padding: 0;
}

.percent {
  font-size: 0.75rem;
  color: rgb(255, 119, 0);
}

.details span {
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 0.75rem;
}

@media (min-width: 451px) and (max-width: 950px) {
  .box-cont {
    justify-content: space-between;
    padding: 0 3%;
    /* width: 94%; */
    flex-direction: column;
  }

  .box:first-child {
    width: 100%;
  }

  .box .i {
    opacity: 0.5;
    font-size: 0.75rem;
  }

  .box .name {
    opacity: 0.65;
    margin: 0;
  }

  .box .profession {
    color: rgb(255, 119, 0);
    margin: 0;
    font-size: 1.3rem;
  }

  .img-cont {
    display: flex;
    gap: 7px;
    align-items: center;
  }

  .img-cont .img-border img {
    background-color: white;
    width: 14px;
    border-radius: 10%;
    opacity: 0.7;
    cursor: pointer;
  }

  .box .box-options {
    justify-content: space-between;
  }

  .box .box-options .hire-me {
    font-size: 0.8rem;
  }

  .box .box-options .download-cv {
    font-size: 0.8rem;
  }

  .review {
    display: flex;
    background-color: rgb(25, 25, 25);
    margin-top: 25px;
    justify-content: space-evenly;
    border-radius: 5px;
    padding: 10px;
    /* width: 80%; */
  }

  .type {
    align-items: center;
    gap: 10px;
    display: flex;
  }

  .type span {
    display: block;
  }

  .review .type:first-child {
    padding-right: 10px;
  }

  .review .type:nth-child(2) {
    border-left: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
    padding: 0 8%;
  }

  .review .type:last-child {
    padding-left: 10px;
  }

  .review .type h6 {
    margin: 0;
    color: rgb(255, 119, 0);
  }

  .review .type span {
    font-size: 0.75rem;
    font-weight: 400;
  }

  /*
  */

  .box:last-child {
    display: flex;
    /* gap: 0px; */
    align-items: start;
    justify-content: start;
    flex-direction: row;
    width: 100%;
    margin-top: 15px;
  }

  .technologies {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* background-color: aqua; */
    padding: 0;
    margin-top: 15px;
    /* display: none; */
    width: 60%;
  }

  .circle-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0px;
    margin-top: 0px;
    gap: 0;
  }

  .circle-cont .small-circle {
    background-color: rgb(25, 25, 25);
    border-radius: 50%;
    position: relative;
  }

  .circle-cont {
    gap: 7px;
  }

  .circle-cont .small-circle .outer .inner {
    display: flex;
  }

  .circle-cont .small-circle p {
    margin: 0;
    padding: 0;
  }

  .circle-cont .small-circle span {
    margin: 0;
    padding: 0;
  }

  .percent {
    font-size: 0.7rem;
    color: rgb(255, 119, 0);
  }

  .details span {
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 0.75rem;
  }
}

@media (max-width: 450px) {
  .box-cont {
    justify-content: space-between;
    padding: 0 3%;
    margin-top: 25px;
    flex-direction: column;
    margin-bottom: -19px;
  }

  .box:first-child {
    width: 100%;
  }

  .box .i {
    opacity: 0.5;
    font-size: 0.75rem;
  }

  .box .name {
    opacity: 0.65;
    margin: 0;
  }

  .box .profession {
    color: rgb(255, 119, 0);
    margin: 0;
    font-size: 1.3rem;
  }

  .img-cont {
    display: flex;
    gap: 7px;
    align-items: center;
  }

  .img-cont .img-border img {
    background-color: white;
    width: 14px;
    border-radius: 10%;
    opacity: 0.7;
    cursor: pointer;
  }

  .box .box-options {
    justify-content: space-between;
  }

  .box .box-options .hire-me {
    font-size: 0.8rem;
  }

  .box .box-options .download-cv {
    font-size: 0.8rem;
  }

  .review {
    display: flex;
    background-color: rgb(25, 25, 25);
    margin-top: 10px;
    justify-content: space-evenly;
    border-radius: 5px;
    padding: 10px;
  }

  .review .type {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .review .type:first-child {
    padding-right: 10px;
  }

  .review .type:nth-child(2) {
    border-left: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
    padding: 0 8%;
  }

  .review .type:last-child {
    padding-left: 10px;
  }

  .review .type h6 {
    margin: 0;
    color: rgb(255, 119, 0);
  }

  .review .type span {
    font-size: 0.75rem;
    font-weight: 400;
  }

  /*
  */

  .box:last-child {
    display: flex;
    /* gap: 0px; */
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
  }

  .technologies {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 18px;
    padding: 0;
    margin-top: 25px;
    /* display: none; */
  }

  .circle-cont {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0px;
    margin-top: 0px;
    gap: 0px;
  }

  .circle-cont .small-circle {
    height: 50px;
    width: 50px;
    background-color: rgb(25, 25, 25);
    border-radius: 50%;
    position: relative;
  }

  svg {
    display: none;
  }

  .circle-cont {
    gap: 6px;
  }

  .circle-cont .small-circle .outer {
    height: 50px;
    width: 50px;
  }

  .circle-cont .small-circle .outer .inner {
    display: flex;
    height: 50px;
    width: 50px;
  }

  .circle-cont .small-circle p {
    margin: 0;
    padding: 0;
  }

  .circle-cont .small-circle span {
    margin: 0;
    padding: 0;
  }

  .percent {
    font-size: 0.7rem;
    color: rgb(255, 119, 0);
    display: none;
  }

  .details span {
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 0.75rem;
  }
}
